{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVELOGRAM</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>



<body>
       
    <div  class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm  text-white text-lg">
                    <a class="navbar-brand" href="#"> <img src="/static/zIfu1F6q_400x400.jpg" alt="" width="60px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="top nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="top nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="top nav-link" href="#">Gallery</a>
                          </li>
                        <li class="nav-item dropdown">
                          <a class="top nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="top dropdown-item" href="#">About us</a>
                            <a class="top dropdown-item" href="#">Contact us</a>
                           
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Destintion" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        <a href="" class="top nav-link"> Login</a>
                      </form>
                    </div>
                </nav>
            </div>
        </div>
<br><br><br><br><br><br><br>
        <div class="row">
            <div class="col-sm-2">
                <img src="/static/zIfu1F6q_400x400.jpg" alt=""width="300px" class="img-thumbnail">
            </div>
            <div class="col-sm-10 text-white">
                <div class="jumbotron text-center" > 
                <h1>TRAVELOGRAM</h1>
                <p>All you need is the plan, the road map, and the courage to press on to your destination.</p>
                <p>Find the destination to go....</p>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="offset-2 col-md-8 ">
          <div class="quick text-left">
            <h2>QUICK NAVIGATION</h2>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Trending in Kerela</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Best Places to Visit in Kochi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Best Places to Visit in Alleppey</a>
              </li>             
              <li class="nav-item">
                <a class="nav-link" href="#">Best Places to Visit in Calicut</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Best Places to Visit in Wayanad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Best Places to Visit in Munnar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Best Places to Visit in Thrissur</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Other Places to Visit in Kerala</a>
              </li>

            </ul>

          </div>

        </div>

      </div><br><br><br>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/kasargod.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">KASARGOD</h4>
              <p class="card-text">Journey to the South of India and God’s Own Country to discover a gem that offers tourists plenty of holiday thrills.</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/Kannur.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">KANNUR</h4>
              <p class="card-text">Kannur also known by its English Name – Cannanore is a Municipal Corporation in the Kannur district. Situated 518 km from the state capital,</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/Places-to-visit-in-Wayanad.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">WAYANAD</h4>
              <p class="card-text">Known for its soothing temperature all around the year, Wayanad is the ultimate destination to escape the scorching sun of North India.</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/clt.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">CALICUT</h4>
              <p class="card-text"> Calicut is currently known as Kozhikode. Founded in the year 1948 by Vasco Da Gama, it lies on the south west coast of Arabian Sea</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>

      </div><br><br>

      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/mlp.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">MALAPPURAM</h4>
              <p class="card-text">  Malappuram is a northern district in Kerala known for its rich culture, historic significance and remarkable heritage.</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/palakkad.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">PALAKKAD</h4>
              <p class="card-text">Palakkad is the gateway to Kerala due to the presence of the Palakkad Gap in the Western Ghats.</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/thrissur.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">THRISSUR</h4>
              <p class="card-text">Thrissur district, being the seat of culture, houses the Kerala Kalamandalam, the Kerala Sahitya Academy</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/ernakulam.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">ERNAKULAM</h4>
              <p class="card-text">Ernakulam District of Kerala, India. Ernakulam, especially Cochin (Kochi) is one of the fastest growing cities in India.</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>

      </div><br><br>

      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/idukki.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">IDUKKI</h4>
              <p class="card-text">Idukki district is a densely forested, mountainous region in the south Indian state of Kerala.</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/kottayam.webp" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">KOTTAYAM</h4>
              <p class="card-text">Kottayam literally means the interior of a fort "Kotta" meaning fort and "Akam" meaning inside.</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div><img class="card-img-top" src="/static/Alleppey.jpg" alt="Card image"></div>
            <div class="card-body">
              <h4 class="card-title">ALAPPUZHA</h4>
              <p class="card-text">'Venice of the East' Alappuzha, famous for marine products and coir industry, is a world renowned backwater tourist destination of India.</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/pathanamthitta.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">PATHANAMTHITTA</h4>
              <p class="card-text">Pathanamthitta – a district is noted for its temples, rivers, mountain ranges, water fiestas, and heritage villages</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>

      </div><br><br>

      <div class="row">
        <div class="offset-3 col-md-3">
          <div class="card one">
            <img class="card-img-top" src="/static/kollam.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">KOLLAM</h4>
              <p class="card-text">Ashtamudi Lake is considered the southern gateway to the backwaters of Kerala and is a prominent tourist destination at Kollam</p>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/static/tvndrm.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">TRIVANDRUM</h4>
              <p class="card-text">The city offers zoos, historical museums, traditional villages and beaches for a sightseeing tour.</p><br>
              <a href="#" class="btn btn-primary">See Places</a>
            </div>
          </div>
        </div>
      </div>



    </div><br><br><br>
</body>
</html>